%container {
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1440px;
  padding-left: $container-gap;
  padding-right: $container-gap;

  @extend %container;
  @include breakpoint-down($breakpoint-sm-max) {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  
}
