.header {
  font-family: $font-family-murmure;
  &__container {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: space-between;
    align-items: center;
    @include breakpoint-down($breakpoint-sm-max) {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }
  &__logo {
    z-index: 100;
    .svg-icon {
      width: 81px;
      height: 70px;
      @include breakpoint-down($breakpoint-sm-max) {
        max-width: 55px;
      height: 36px;
      }
    }
  }
  &__links {
    display: flex;
  }
  &__menu {
    display: flex;
    @include breakpoint-down($breakpoint-sm-max) {
      opacity: 0;
      transform: translateY(-100%);
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-eggshell;
      z-index: 20;
      padding: 150px 50px;
    }
  }
  &__menu-item {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 6px 10px 12px;
    border-radius: 12px;
    background-color: transparent;
    transition: background-color $transition-duration;
    display: flex;
    align-items: center;
    height: 54px;
    span {
      color: $color-base;
      transition: color $transition-duration;
    }
    &.is-active {
      background-color: $color-base;
      span {
        color: $color-eggshell;
      }
    }
  }
  &__menu-close {
    display: none;
    @include breakpoint-down($breakpoint-sm-max) {
      display: block;
      position: absolute;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: $color-base;
    }
  }
  &__link {
    margin-left: 8px;
  }
}