.main-content {
    padding-top: 113px;
    padding-bottom: 186px;
    @include breakpoint-down($breakpoint-md-max) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &__tab-link {
        font-family: $font-family-murmure;
        font-weight: 600;
        font-size: 100px;
        line-height: 101.11%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font-feature-settings: 'liga' off, 'kern' off;
        position: relative;
        margin-right: 33px;
        &.is-active {
            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                background-color: $color-base;
                left: 0;
                bottom: 0;
            }
            
        }
    }
}