.zoom {
  &.is-styled {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: fit-content;
    background-size: 200%;
    overflow: hidden;
    margin: 0 auto;
    cursor: zoom-in;
    img {
      display: block;
      &:hover {
        opacity: 0;
      }
    }
  }
  
}