@font-face {
  font-family: 'Le Murmure Regular';
  src: url('#{$font-path}/le-murmure.woff2') format('woff2'),
       url('#{$font-path}/le-murmure.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

// @font-face {
//   font-family: 'LeMurmureRegular';
//       src: url('/assets/fonts/le-murmure/d35d6e7891523c65065d31f48f3cb4b2/bdb919382af9a0e3c69081378bb2beab/LeMurmureRegular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
//     }


// @font-face {
//   font-family: 'Le Murmure';
//       src: url('/assets/fonts/le-murmure/d35d6e7891523c65065d31f48f3cb4b2/bdb919382af9a0e3c69081378bb2beab/LeMurmureRegular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
//     }

