@font-face {
  font-family: 'Le Murmure Regular';
  src: url('#{$font-path}/LeMurmure-Regular.woff2') format('woff2'),
       url('#{$font-path}/LeMurmure-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
