* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-width: rem(320px);
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: $color-eggshell;

  &.is-antique {
    .authors__name {
      font-family: $font-family-murmure;
      font-size: 55px;
    }
    .checkout {
      &-author {
        font-family: $font-family-murmure;
        font-size: 30px;
        @include breakpoint-down($breakpoint-md-max) {
          font-size: 30px;
        }
      }
      &__title {
        font-family: $font-family-murmure;
        font-size: 100px;
        @include breakpoint-down($breakpoint-md-max) {
          font-size: 44px;
        }
      }
      &__form-title {
        font-family: $font-family-murmure;
        font-size: 44px;
        @include breakpoint-down($breakpoint-md-max) {
          font-size: 28px;
        }
      }
    }
    .footer {
      font-family: $font-family-murmure;
      font-size: 62px;
      @include breakpoint-down($breakpoint-lg-max) {
        font-size: 40px;
      }
      @include breakpoint-down($breakpoint-md-max) {
        font-size: 32px;
        line-height: 101.11%;
      }
      @include breakpoint-down($breakpoint-sm-max) {
        padding-top: 25px;
      }
      &__title {
        font-size: 62px;
        @include breakpoint-down($breakpoint-sm-max) {
          font-size: 32px;
        }
      }
    }
    .header {
      font-family: $font-family-murmure;
      &__menu-item {
        font-size: 30px;
        line-height: 30px;
        @include breakpoint-down(360px) {
          font-size: 30px;
          line-height: 30px;
        }
      }
    }
    .item {
      &-title {
        font-family: $font-family-murmure;
        @include breakpoint-down($breakpoint-sm-max) {
          font-size: 44px;
        }
      }
    }
    .main-content {
      &__tab-link {
        font-family: $font-family-murmure;
        font-size: 100px;
        @include breakpoint-down($breakpoint-sm-max) {
          font-size: 44px;
        }
      }
    }
    .tab-panes__list-link-author {
      font-family: $font-family-murmure;
      font-size: 50px;
      @include breakpoint-down($breakpoint-sm-max) {
        font-size: 30px;
      }
    }
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup-cover {
  display: none;
  @include breakpoint-down($breakpoint-sm-max) {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 102;
    background: #08411e;
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition-duration;
    &.is-shown {
      opacity: 0.45;
    }
  }
}
