include ./../mixins/mixins.pug

include ./globalVars.pug

doctype html

html(lang=CURRENT_LANG)
  include ./head.pug

  body(class="")
    block bodyStart

    //- SVG store
    .svg-store
      include ./../../svgicons/svgicons.svg
    //- end SVG store

    block body

    block bodyEnd

    //- Scripts
    block bodyVendorScripts
    script(src="https://code.jquery.com/jquery-latest.min.js")
    script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
    script(src=config.JS_BUNDLE)
    

    block bodyCustomScripts
    //- end Scripts

