.main-content__container.container
  .item
    .item__artist 
      .item__artist-img 
        img(src="./assets/authors/kruton@1x.jpg" srcset="./assets/authors/kruton@2x.jpg x2" alt="")
      .item__artist-data 
        .item__artist-name JEAN BAPTISTE KRUTON
        .item__artist-desc Жан Баптист Крутон ( Jean-Baptiste Carpeaux; 11 мая 1827 — 12 октября 1875 гг. ) — знаменитый французский художник XIX века, выдающийся скульптор стиля необарокко.  Жан-Батист Карпо был также талантливым живописцем, но его картины практически не известны широкому зрителю.  Лучшие шедевры творчества мастера в наши дни украшают экспозиции французских музеев, площади и фасады парижских зданий, а его биография представляет собой наглядный пример успешной карьеры гениального художника из простой рабочей семьи.
        button.item__artist-download(type="button") 
          +svgicon('download') 
          | Скачать резюме
    .item__tab-links 
      a.main-content__tab-link.js-artist-tab-link.is-active(href="#tab-1") Работы
      a.main-content__tab-link.js-artist-tab-link(href="#tab-2") проекты
    .item__tabs
      .item__more-works.js-artist-tab-pane.is-active( id="tab-1" )
        p.item__more-title Работы Жана Бабтиста Крутона
        .swiper.item__more-list
          .swiper-wrapper
            .swiper-slide.item__more-list-item 
              img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
              a.item__more-list-item-link(href="./item.html")
                span.item__more-list-item-link-cover
                  span.item__more-list-item-link-title “Ze Blooming vase” 
                  span.item__more-list-item-link-author JEAN BAPTISTE KRUTON
                span.item__more-list-item-link-price £2,400
            .swiper-slide.item__more-list-item 
              img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
              a.item__more-list-item-link(href="./item.html")
                span.item__more-list-item-link-cover
                  span.item__more-list-item-link-title “Ze Blooming vase” 
                  span.item__more-list-item-link-author JEAN BAPTISTE KRUTON
                span.item__more-list-item-link-price £2,400
            .swiper-slide.item__more-list-item 
                img(src="./assets/image6@1x.jpg" srcset="./assets/image6@2x.jpg x2" alt="")
                a.item__more-list-item-link(href="./item.html")
                  span.item__more-list-item-link-cover
                    span.item__more-list-item-link-title “Ze Blooming vase” 
                    span.item__more-list-item-link-author JEAN BAPTISTE KRUTON
                  span.item__more-list-item-link-price £2,400
            .swiper-slide.item__more-list-item 
                img(src="./assets/image1@1x.jpg" srcset="./assets/image1@2x.jpg x2" alt="")
                a.item__more-list-item-link(href="./item.html")
                  span.item__more-list-item-link-cover
                    span.item__more-list-item-link-title “Ze Blooming vase” 
                    span.item__more-list-item-link-author JEAN BAPTISTE KRUTON
                  span.item__more-list-item-link-price £2,400
          .item__more-swiper-container.container
              .swiper-button-prev.item__more__button-prev
              .swiper-button-next.item__more__button-next
          
      .item__more-works.js-artist-tab-pane( id="tab-2" )
        p.item__more-title Работы Жана Бабтиста Крутона
        .swiper.projects__slider
          .swiper-wrapper
            .swiper-slide.projects__slider-item 
                img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
                a.projects__slider-item-link(href="./project-item.html")
                  span.projects__slider-item-link-title Выставка
                  span.projects__slider-item-link-author иконы александра липницкого
            .swiper-slide.projects__slider-item 
                img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
                a.projects__slider-item-link(href="./project-item.html")
                  span.projects__slider-item-link-title Ивент
                  span.projects__slider-item-link-author последний миг крутона - ретроспектив
            .swiper-slide.projects__slider-item 
                img(src="./assets/image6@1x.jpg" srcset="./assets/image6@2x.jpg x2" alt="")
                a.projects__slider-item-link(href="./project-item.html")
                  span.projects__slider-item-link-title Ивент
                  span.projects__slider-item-link-author последний миг крутона - ретроспектив
            .swiper-slide.projects__slider-item 
                img(src="./assets/image1@1x.jpg" srcset="./assets/image1@2x.jpg x2" alt="")
                a.projects__slider-item-link(href="./project-item.html")
                  span.projects__slider-item-link-title Ивент
                  span.projects__slider-item-link-author последний миг крутона - ретроспектив
          .item__more-swiper-container.container
              .swiper-button-prev.projects-slider__button-prev
              .swiper-button-next.projects-slider__button-next