.authors 
  .authors__list 
    a.authors__item(href="") 
      img(src="./assets/authors/kruton@1x.jpg" srcset="./assets/authors/kruton@2x.jpg x2" alt="")
      span.authors__name JEAN BAPTISTE KRUTON
    a.authors__item(href="") 
      img(src="./assets/authors/watson@1x.jpg" srcset="./assets/authors/watson@2x.jpg x2" alt="")
      span.authors__name EMMA WATSON
    a.authors__item(href="") 
      img(src="./assets/authors/crispey@1x.jpg" srcset="./assets/authors/crispey@2x.jpg x2" alt="")
      span.authors__name DAVID&nbsp;“CRISPY” HOCKNEY
    a.authors__item(href="") 
      img(src="./assets/authors/tyson@1x.jpg" srcset="./assets/authors/tyson@2x.jpg x2" alt="")
      span.authors__name Mike the dike Tyson
    a.authors__item(href="") 
      img(src="./assets/authors/kesha@1x.jpg" srcset="./assets/authors/kesha@2x.jpg x2" alt="")
      span.authors__name кеша воробьянов
    a.authors__item(href="") 
      img(src="./assets/authors/charlotte@1x.jpg" srcset="./assets/authors/charlotte@2x.jpg x2" alt="")
      span.authors__name charlotte the daughter&nbsp;gainsbourg
    a.authors__item(href="") 
      img(src="./assets/authors/gustav@1x.jpg" srcset="./assets/authors/gustav@2x.jpg x2" alt="")
      span.authors__name gustav adolf