.filter.filter--author
  .filter__container
    label.filter__search-svg(for="search-input-authors") 
        +svgicon('search')
    input.filter__search(type="checkbox" name="search" id="search-input-authors")
    form.filter__form(method="post") 
        .filter__search-input 
            input(type="search")
        .filter__item
            input(type="radio" name="author-tab" value="" id="author-all")
            label(for="author-all") Все
        .filter__item
            input(type="radio" name="author-tab" value="" id="author-photo")
            label(for="author-photo") Фотографы
        .filter__item
            input(type="radio" name="author-tab" value="" id="author-artist")
            label(for="author-artist") Художники
        input.filter__item.filter__item--reset(id="reset" type="reset") 
        label( for="reset" ) Сбросить