footer.footer
  .footer__container.container
    .footer__block
      h3.footer__title Contact
      .footer__links 
        a(href="tel:79163332235") +7 916 333 22 35
        span /
        a(href="mailto:hey@weart.ru") hey@weart.ru 
    .footer__block
      h3.footer__title SOCIAL
      .footer__links 
        a(href="") Facebook
        span /
        a(href="") telegram
        span /
        a(href="") instagram/
