header.header
  .header__container.container
    .header__logo
      +svgicon('logo')
    .header__menu
      a.header__menu-item(href="")
        span Антиквариат
      a.header__menu-item.is-active(href="")
        span Искусство
      a.header__menu-item(href="")
        span Проекты
      
    .header__links
      a.header__link(href="")
        +svgicon('cart')
      a.header__link(href="")
        +svgicon('account')
    
      