.main-content__container.container
    .item 
        .item__img
            .item__img-slider.swiper
                .swiper-wrapper
                    .swiper-slide(data-src="./assets/image8@2x.jpg")
                        img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
                    .swiper-slide(data-src="./assets/image8@2x.jpg")
                        img(src="./assets/image6@1x.jpg" srcset="./assets/image@2x.jpg x2" alt="")
                    .swiper-slide(data-src="./assets/image8@2x.jpg")
                        img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
                    .swiper-slide(data-src="./assets/image8@2x.jpg")
                        img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
            .item__img-slider-navigation
                .item__img-slider-thumbs.swiper(thumbsSlider="")
                    .swiper-wrapper
                        .swiper-slide.item__img-slider-thumb
                            img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
                        .swiper-slide.item__img-slider-thumb
                            img(src="./assets/image6@1x.jpg" srcset="./assets/image6@2x.jpg x2" alt="")
                        .swiper-slide.item__img-slider-thumb
                            img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
                        .swiper-slide.item__img-slider-thumb
                            img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
                .swiper-button-prev.item__img-slider-prev
                .swiper-button-next.item__img-slider-next
        .item__data 
            .item__buy 
                .item__specification 
                    .item__specification-row
                        .item__specification-title Техника
                        .item__specification-data Масло
                    .item__specification-row
                        .item__specification-title Размер
                        .item__specification-data  3, 400 х 2, 400 cm
                    .item__specification-row
                        .item__specification-title Год
                        .item__specification-data  2014
                .item__price-block 
                    span.item__price 1,200$
                    button.item__buy-btn КУПИТЬ
            .item__description 
                p.item__description-author Jean Babtiste Kruton
                p.item__description-title Ze Blooming vase”
                p.item__description-text Жан Баптист Крутон написал эту картину находясь в состоянии тяжелого наркотического опьянения. “Я смотрел на вазу” - пишет он в своих дневниках  - “и она стала казаться мне головой Медузы Горгоны. Змеи стали выползать из нее. Немедленно я схватил кисть и запечатлел это”. - Дневники Крутона, Март, 1998.

        .item__more-works 
            p.item__more-title Другие работы автора
            .swiper.item__more-list
                .swiper-wrapper
                    .swiper-slide.item__more-list-item 
                        img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
                        a.item__more-list-item-link(href="./item.html")
                            span.item__more-list-item-link-cover
                                span.item__more-list-item-link-title “Ze Blooming vase” 
                                span.item__more-list-item-link-author JEAN BAPTISTE KRUTON
                            span.item__more-list-item-link-price £2,400
                    .swiper-slide.item__more-list-item 
                        img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
                        a.item__more-list-item-link(href="./item.html")
                            span.item__more-list-item-link-cover
                                span.item__more-list-item-link-title “Ze Blooming vase” 
                                span.item__more-list-item-link-author JEAN BAPTISTE KRUTON
                            span.item__more-list-item-link-price £2,400
                    .swiper-slide.item__more-list-item 
                        img(src="./assets/image6@1x.jpg" srcset="./assets/image6@2x.jpg x2" alt="")
                        a.item__more-list-item-link(href="./item.html")
                            span.item__more-list-item-link-cover
                                span.item__more-list-item-link-title “Ze Blooming vase” 
                                span.item__more-list-item-link-author JEAN BAPTISTE KRUTON
                            span.item__more-list-item-link-price £2,400
                    .swiper-slide.item__more-list-item 
                        img(src="./assets/image1@1x.jpg" srcset="./assets/image1@2x.jpg x2" alt="")
                        a.item__more-list-item-link(href="./item.html")
                            span.item__more-list-item-link-cover
                                span.item__more-list-item-link-title “Ze Blooming vase” 
                                span.item__more-list-item-link-author JEAN BAPTISTE KRUTON
                            span.item__more-list-item-link-price £2,400
                .item__more-swiper-container.container
                    .swiper-button-prev.item__more__button-prev
                    .swiper-button-next.item__more__button-next