.main-content__container.container
    .item 
        .item__img
            .zoom(data-src="https://stage.weart.gallery/upload/resize_cache/iblock/a2e/5000_1542_1/qw8i0ibcvkc1w2fhwn25el3t5ui8e1kn.png" srcset="https://stage.weart.gallery/upload/resize_cache/iblock/a2e/5000_1542_1/qw8i0ibcvkc1w2fhwn25el3t5ui8e1kn.png")
                 img(src="https://stage.weart.gallery/upload/resize_cache/iblock/a2e/5000_1542_1/qw8i0ibcvkc1w2fhwn25el3t5ui8e1kn.png" srcset="https://stage.weart.gallery/upload/resize_cache/iblock/a2e/5000_1542_1/qw8i0ibcvkc1w2fhwn25el3t5ui8e1kn.png x2" alt="")
        .item__data 
            .item__buy 
                .item__specification 
                    .item__specification-row
                        .item__specification-title Техника
                        .item__specification-data Масло
                    .item__specification-row
                        .item__specification-title Размер
                        .item__specification-data  3, 400 х 2, 400 cm
                    .item__specification-row
                        .item__specification-title Год
                        .item__specification-data  2014
                .item__price-block 
                    span.item__price 1,200$
                    button.item__buy-btn КУПИТЬ
            .item__description 
                p.item__description-author Jean Babtiste Kruton
                p.item__description-title Ze Blooming vase”
                p.item__description-text Жан Баптист Крутон написал эту картину находясь в состоянии тяжелого наркотического опьянения. “Я смотрел на вазу” - пишет он в своих дневниках  - “и она стала казаться мне головой Медузы Горгоны. Змеи стали выползать из нее. Немедленно я схватил кисть и запечатлел это”. - Дневники Крутона, Март, 1998.

        .item__more-works 
            p.item__more-title Работы Жана Бабтиста Крутона
            .swiper.item__more-list
                .swiper-wrapper
                    .swiper-slide.item__more-list-item 
                        img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
                        a.item__more-list-item-link(href="./item.html")
                            span.item__more-list-item-link-cover
                                span.item__more-list-item-link-title “Ze Blooming vase” 
                                span.item__more-list-item-link-author JEAN BAPTISTE KRUTON
                            span.item__more-list-item-link-price £2,400
                    .swiper-slide.item__more-list-item 
                        img(src="./assets/image8@1x.jpg" srcset="./assets/image8@2x.jpg x2" alt="")
                        a.item__more-list-item-link(href="./item.html")
                            span.item__more-list-item-link-cover
                                span.item__more-list-item-link-title “Ze Blooming vase” 
                                span.item__more-list-item-link-author JEAN BAPTISTE KRUTON
                            span.item__more-list-item-link-price £2,400
                    .swiper-slide.item__more-list-item 
                        img(src="./assets/image6@1x.jpg" srcset="./assets/image6@2x.jpg x2" alt="")
                        a.item__more-list-item-link(href="./item.html")
                            span.item__more-list-item-link-cover
                                span.item__more-list-item-link-title “Ze Blooming vase” 
                                span.item__more-list-item-link-author JEAN BAPTISTE KRUTON
                            span.item__more-list-item-link-price £2,400
                    .swiper-slide.item__more-list-item 
                        img(src="./assets/image1@1x.jpg" srcset="./assets/image1@2x.jpg x2" alt="")
                        a.item__more-list-item-link(href="./item.html")
                            span.item__more-list-item-link-cover
                                span.item__more-list-item-link-title “Ze Blooming vase” 
                                span.item__more-list-item-link-author JEAN BAPTISTE KRUTON
                            span.item__more-list-item-link-price £2,400
                .item__more-swiper-container.container
                    .swiper-button-prev.item__more__button-prev
                    .swiper-button-next.item__more__button-next