.partners 
  .partners__title Партнеры
  .partners__list 
    .partners__list-item-cover
      .partners__list-item 
    .partners__list-item-cover 
      .partners__list-item 
    .partners__list-item-cover 
      .partners__list-item 
    .partners__list-item-cover 
      .partners__list-item 
    .partners__list-item-cover 
      .partners__list-item 
