.main-content
  .main-content__container.container
    .main-content__tab-panes.tab-panes
      .tab-panes__item.tab-panes__item--full-height.is-active( id="tab-1" )
        .main-content__filter 
          include ./filter-radio-2.pug
        .tab-panes__list
          .projects 
            .projects__item 
              img(src="./assets/projects/project1@1x.png" srcset="./assets/projects/project1@2x.png x2" alt="")
              a.projects__link(href="./project-item.html")
                span.projects__link-title-block   
                  span.projects__link-header Выставка
                  span.projects__link-title иконы александра липницкого
                span.projects__link-data   
                  span.projects__label Prada Gallery, Milano
                  span.projects__label 24.12.21

            .projects__item 
              img(src="./assets/projects/project2@1x.png" srcset="./assets/projects/project2@2x.png x2" alt="")
              a.projects__link(href="./project-item.html")
                span.projects__link-title-block   
                  span.projects__link-header Выставка
                  span.projects__link-title последний миг крутона - ретроспектив
                span.projects__link-data   
                  span.projects__label Prada Gallery, Milano
                  span.projects__label 24.12.21
              
      .tab-panes__item.tab-panes__authors( id="tab-2" )
        .main-content__filter 
          include ./filter-radio.pug
        include ./authors.pug
