extends ./layout/layout.pug

block globalVars
  - let isArtItem = true;

block headEnd

block bodyStart

block content
  include ./partials/artist.pug

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts