extends ./layout/layout.pug

block globalVars
  - let isArt = true;

block headEnd

block bodyStart

block content
  include ./partials/art.pug

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts
