extends ./layout/layout.pug

block globalVars
  - let isCheckout = true;

block headEnd

block bodyStart

block content
  include ./partials/checkout.pug

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts