extends ./layout/layout.pug

block globalVars

block headEnd

block bodyStart

//- You can use it for custom pages
//- block body

block content
  .container
    .subtitle
      span About

    br
    br
    br

    .title
      span ↲ INDEX
      .title__left
        | TITLE LONG L
      .title__right
        | DIY with our kits: from tube to plots, just add manpower and sequencer machine. Based on our deep experience in DNA techniques and immune repertoires.
    br
    br
    br
    .title
      span ↲ INDEX
      .title__full
        | TITLE WITHOUT TXT
    br
    br
    br
    .title.title--small
      .title__small
        | TITLE WITHOUT TXT
    br
    br
    br
    .kit
      .kit__header.kit__header--pink
        .kit__subtitle 24 Reactions
        .kit__title Human TCR
      ul.kit__list
        li UMI 5’Race
        li IG heavy &amp; light
        li Blood/cells/tissue/FF
        li 250+250 sequencing
        li Full length + isotypes
        li High accuracy
      .kit__btns
        button.kit__button(type="button").bordered-link.bordered-link--black Buy, $2000
        a.kit__button(href="").bordered-link Learn more ↳

    br
    br
    br


block bodyEnd

block bodyVendorScripts

block bodyCustomScripts