extends ./layout/layout.pug

block globalVars
  - let isAntique = true;


block headEnd

block bodyStart

block content
  ul 
    li
      a(href="index.html") Главная 
    li
      a(href="artist.html") Автор 
    li
      a(href="artPage.html") Искусство
    li
      a(href="checkout.html") Чекаут 
    li
      a(href="item.html") Artwork 
    li
      a(href="projectPage.html") Проекты 
    li
      a(href="project-item.html") Проект

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts