extends ./layout/layout.pug

block globalVars
  - let isProject = true;

block headEnd

block bodyStart

block content
  include ./partials/projects.pug

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts
